*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #000;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-color);
  overflow: hidden;
  perspective: 1000px;
}

.title {
  position: absolute;
  top: 30px;
  font-size: 45px;
  color: white;
  z-index: 999;
  font-family: "Poppins", sans-serif;
}

.Btn {
  position: absolute;
  top: 110px;
  z-index: 999;
  padding: 8px 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.Btn:hover {
  background-color: #eaeaea;
}
